.App {
  background: #f2f2f2;
}

.filter_block .l_y{
    border-bottom: 1px solid #0c0c00;
}

.y_selected button{
    border: 0;
    background: #c5e09b;
    margin: 4px 0px;
    border-radius: 5px;
}

.change_bg{
    background: #7cba01 !important;
}